body
{
font-family: Arial, Helvetica, sans-serif;
margin: 0% 10%;
display: grid;
}
#pizzasClassics{
    display: block;
}
.unePizza
{
    display: inline-grid;
    margin: 2% 1%;
}
.imgPizza
{
    display: block;
    max-height: 80%;
    justify-self:center;
}
.pizzaTitre
{
    font-weight: bold;
    justify-self:center;
    
}